body{
    background-color: burlywood;
}
h1{
    text-align: center;
}
.schedule {
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
}

.list {
    background-color: burlywood;
    flex-basis: 100%;
    flex-grow: 1;
    padding:10px;
    transition: all o.2s linear;
}

.draggable {
    background-color: #4AAE98;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.dropzone {
    background-color: whitesmoke;
    font-weight: normal;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
}